<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Add User')}"></head>
<body>
<div class="card mb-4">
    <div class="card-header">
        <h5 class="mb-0">Add New User</h5>
    </div>
    <div class="card-body">
        <form th:action="@{/admin/users/add}" method="post" th:object="${user}" class="form col-5 mx-auto" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="userName" class="form-label">Username</label>
                <input type="text" class="form-control" id="userName" th:field="*{username}" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Password confirmation</label>
                <input type="password" class="form-control" id="password2" th:field="*{password2}" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></div>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <select name="role" class="form-control" id="role" th:field="*{role}">
                    <option value="ADMIN">Admin</option>
                    <option value="BUYER">Buyer</option>
                    <option value="SELLER">Seller</option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" th:field="*{address}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
            </div>
            <div class="mb-3">
                <label for="credit card" class="form-label">Credit Card</label>
                <input type="text" class="form-control" id="credit card" th:field="*{creditCard}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('creditCard')}" th:errors="*{creditCard}"></div>
            </div>
            <div class="mb-3">
                <label for="profilePicture">Upload Profile Picture:</label>
                <input type="hidden" th:field="*{picture}" >
                <input type="file" id="profilePicture" name="file">
            </div>
            <button type="submit" class="btn btn-primary" onclick="return confirmSave()">Add User</button>
        </form>
    </div>
</div>
<a th:href="@{/admin/users}">Back to admin-users page</a>
</body>
</html>