<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Your Cart')}"></head>
<body>
<div th:replace="~{fragments/header}"></div>
<div id="cartNotif"></div>

<div th:if="${cartItems}">
    <h1>Your Cart</h1>
    <table class="table table-bordered table-striped" id="productTable">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem: ${cartItems}">
            <td th:text="${cartItem.product.name}"></td>
            <td th:text="${cartItem.product.description}"></td>
            <td th:text="'$' + ${#numbers.formatDecimal(cartItem.product.price, 1, 2)}"></td>
            <td th:id="'cartAmount' + ${cartItem.product.id}" th:text="${cartItem.amount}"></td>
            <td th:if="${cartItem.product.imageUrl == null}">No image found.</td>
            <td th:if="${cartItem.product.imageUrl != null}">
                <img th:src="@{${cartItem.product.imageUrl}}" alt="Product Image" />
            </td>
            <td>
<!--                <form th:action="@{/api/cart/remove}">-->
<!--                    <input type="hidden" name="productId" th:value="${cartItem.product.id}"/>-->
<!--                    <input type="hidden" name="amount" value="1"/>-->
<!--                    <button onclick="removeFromCart(productId)" type="submit">Remove from Cart</button>-->
<!--                </form>-->
                <button th:onclick="'addToCartButton(' + ${cartItem.product.id} + ')'" type="button">Add One</button>
                <button th:id="'removeButton' + ${cartItem.product.id}"
                        th:onclick="'removeFromCartButton(' + ${cartItem.product.id} + ')'"
                        type="button">Remove One</button>
                <button th:onclick="'removeFromCart(' + ${cartItem.product.id} + ')'" type="button">Remove Product From Cart</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button th:onclick="'clearCart()'" type="button">Clear entire Cart</button>

    <form th:action="@{/buyer/checkout}" method="post">
        <button type="submit">Checkout</button>
    </form>


</div>
<script src="/buyer-cart.js"></script>
</body>
</html>