<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Login')}"></head>
<body>

<!--TODO Greets user based on if they're logged in-->

<!--This is for flash messages-->
<div th:if="${message}" class="alert alert-success">
    <p th:text="${message}"></p>
</div>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div class="container">
    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username" class="form-control col-4 mb-4"/> </label></div>
        <div><label> Password: <input type="password" name="password" class="form-control col-4 mb-4"/> </label></div>
        <div><input type="submit" value="Log In"/></div>
    </form>
    <a th:href="@{/register}">Are you new to the site? Create your account today!</a>
</div>
</body>
</html>