<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Product || Single View')}"></head>


<body>
<div th:replace="~{fragments/header}"></div>

<div id="cartNotif"></div>
<div th:if="${message}" class="alert alert-success">
    <p th:text="${message}"></p>
</div>

<div th:if="${product}">
    <h1 th:if="${product.isDeleted} == true" class="text-danger">This product has been delisted and is not for sale.</h1>
    <h1 th:if="${product.stockAmount} == 0" class="text-warning">This product is out of stock. Please check back later.</h1>
    <h1 th:text="${product.name}"></h1>
    <table class="table table-bordered table-striped" id="productTable">
        <thead>
        <tr>
            <th>Description</th>
            <th>Price</th>
            <th># in Stock</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${product.description}"></td>
            <td th:text="'$' + ${#numbers.formatDecimal(product.price, 1, 2)}"></td>
            <td th:text="${product.stockAmount}"></td>
            <td th:if="${product.imageUrl == null}">No image found.</td>
            <td th:if="${product.imageUrl}">
                <img th:src="@{${product.imageUrl}}" alt="Product Image" />
            </td>
        </tr>
        <tr>
        </tr>
        </tbody>
    </table>

    <span th:if="${#authorization.expression('isAuthenticated() and hasAuthority(''ROLE_BUYER'')')} and ${product.isDeleted == false}
    and ${product.stockAmount != 0}">
        <input type="hidden" name="productId" th:value="${product.id}"/>
        <input type="number" name="amountProd" id="amountProd" value="1"/>
        <button th:onclick="'addToCart(' + ${product.id} + ', document.getElementById(\'amountProd\').value)'" type="button">Add to Cart</button>
    </span>

</div>
<script src="/single-product.js"></script>
</body>
</html>